@{
    ViewBag.Title = "TeamX";
    ViewBag.Description = "Home Page";
}

<div class="row">
    <div class="col-xs-12 col-md-5">
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title">Image Here</h3>
            </div>
            <div class="box-body">
            <img src="https://www.geico.com/public/images/peeping_gecko.gif" />
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-7">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Bootstrap-Select</h3>
            </div>
            <div class="box-body">
                JSON RESPONSE HERE { :) }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="box box-danger">
            <div class="box-header">
                <h3 class="box-title">Pic Toggle</h3>
            </div>
            <div class="box-body">
                PIC TOGGLE
            </div>
        </div>
    </div>
</div>